/********** common property start ************/
* {
    font-size: 14px;
  }
  
  .browncolor {
    background: linear-gradient(180deg, rgba(12, 81, 185, 0.49) 10.94%, rgba(122, 59, 20, 0.88) 100%);
  }
  .bg-dark {
    /* background-color: #8796b7 !important; */
    background:#87a4d2   ;
  }
  .bg-pink {
    background: #6F256B !important;
  }
  
  .bg-dgrey {
    background-color: #3A3A3A;
  }
  
  .border-pink {
    border: 1px solid #6F256B;
  }
  
  .btn {
    font-size: 12px;
  }
  
  .form-control {
    font-size: 12px;
  }
  
  .logins {
    background: url(/images/bg.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .text-pink {
    color: #6F256B !important;
  }
  
  .btn-pink {
    color: #fff;
    background-color: #6F256B;
    border-color: #6F256B;
  }
  
  .btn-outline-pink {
    color: #6F256B;
    border-color: #6F256B;
  }
  .btn-outline-pink:hover {
    color: #000;
    background-color: #6F256B;
    border-color: #6F256B;
  }
  
  .radius-right-tb {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .radius-left-tb {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .radius-all {
    border-radius: 15px;
  }
  
  /********** common property end ************/
  /********** Login start ************/
  .login {
    border: 1px solid rgb(255, 167, 163);
    padding: 10px;
    background: rgba(18, 14, 17, 0.8);
    margin-top: 30px;
  }
  .login a {
    text-decoration: none;
  }
  .login .btn {
    font-size: 14px;
    padding: 12px 10px;
  }
  .login .form-control {
    line-height: 2.5;
  }
  .login .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none;
  }
  .login .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none;
  }
  
  /********** Login end ************/
  /********** main start ************/
  #main {
    margin-top: 130px;
    padding: 20px 15px 20px 15px;
    transition: all 0.3s;
    color: #fff;
  }
  
  /********** main end ************/
  /********** header start ************/
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding: 10px;
  }
  
  .datetime{
    padding-left: 50px;
  }
  
  
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }
  
  .balance {
    background-image: url(/images/balance.png);
    width: 100%;
    height: 158px;
    background-color: #6F256B;
    border-radius: 10px;
    color: #fff;
  }
  .balance p {
    font-size: 20px;
    color: #fff;
    padding: 45px 0px 0px 90px;
  }
  .balance span {
    font-size: 14px;
    color: #fff;
  }
  
  .balance-up {
    background-color: #00CC38;
  }
  
  .balance-down {
    background-color: #8A5433;
  }
  
  .user {
    color: #fff;
  }
  
  /********** header end ************/
  /********** Sidebar start ************/
  .sidebar {
    position: fixed;
    top: 180px;
    left: 0;
    bottom: 0;
    width: 257px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  }
  .sidebar .nav-link {
    color: #fff;
  }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  /********** Sidebar end ************/
  /********** table pro start ************/
  .tableall {
    border-radius: 15px;
    color: #fff;
  }
  .tableall th {
    background-color: #6F256B;
    border: 0px;
    font-weight: 500;
  }
  .tableall th.first {
    border-top-left-radius: 15px;
  }
  .tableall th.last {
    border-top-right-radius: 15px;
  }
  .tableall td {
    vertical-align: middle;
    border-bottom: 1px solid #3C3C3C;
  }
  
  /********** table pro end ************/
  /********** inner page pro start ************/
  .gamedetails {
    border: 1px solid rgba(255, 167, 163, 0.3411764706);
    border-radius: 5px;
    padding: 15px;
    background: rgba(60, 62, 62, 0.7215686275);
  }
  
  /********** inner page pro end ************//*# sourceMappingURL=main.css.map */
  
  
  
  /* hitesh css start */
  
  
  /* edit member css start */
  
  .editmember{
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #6F256B;
  margin-left: 10px;
  }
  
  .sidebtn{
    padding-left: 70px;
  }
  .memstatus{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #6F256B;
    margin-right: 9px;
    text-decoration: none;
  }
  .memstatus:hover {
    color: #6F256B;
  
  }
  
  .memactive{
  width: 102px;
  height: 25px;
  background: #198754;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 17px;
  padding-top: 3px;
  margin-right: 9px;
  }
  .memactive1a{
  width: 102px;
  height: 25px;
  background:#d59a42;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 17px;
  padding-top: 3px;
  margin-right: 9px;
  }
  
  .memactive1a:hover {
    color: #FFFFFF;
  }
  .memactive2{
  width: 102px;
  height: 25px;
  background:#B02A37;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 17px;
  padding-top: 3px;
  margin-right: 9px;
  }
  
  .memactive2:hover {
    color: #FFFFFF;
  }
  .memactive1{
  width: 102px;
  height: 25px;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 17px;
  padding-top: 3px;
  margin-right: 9px;
  }
  
  .memactive:hover {
    color: #ffffff;
  }
  .meminput{
    accent-color: #6F256B;
  
  }
  
  .meminactive{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 9px;
  }
  .meminactive:hover{
    color: #6F256B;
  }
  
  .input1login{
    border: none;
    background-color: rgba(18, 14, 17, 0.8);
    border-bottom: 0.5px solid #A2A2A2;
    color: #ffffff;
    width: 344px;
  }
  @media (max-width:472px) {
    .input1login{
      border: none;
      background-color: rgba(18, 14, 17, 0.8);
      border-bottom: 0.5px solid #A2A2A2;
      color: #ffffff;
      width: 213px;
    }
    
  }
  
  
  .userbr{
  border-radius: 2px !important;
  border: none !important;
  }
  
  .input1{
  background-color: #343535;
  border: none;
  border-bottom: 0.5px solid #A2A2A2;
  color: #ffffff;
  width: -webkit-fill-available;
  }
  .input2{
  background-color: #343535;
  border: none;
  border-bottom: 0.5px solid #A2A2A2;
  color: #ffffff;
  width: inherit;
  padding-left: 10px;
  }
  
  @media (max-width:767px ) {
    .responsive{margin-top: 25px;}
    
  }
  .input3{
    background-color: #343535;
  border: none;
  border-bottom: 0.5px solid #A2A2A2;
  color: #ffffff;
  width: inherit;
  padding-left: 10px;
    width: -webkit-fill-available
  }
  
  .status{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #6F256B;
  margin-left: 3px;
  
  }
  .hr{
  
  
  height: 0px;
  border-top: 1px solid #A2A2A2;
  width: -webkit-fill-available;
  height: 0px !important;
  }
  
  
  .cassino{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  
  }
  
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: #6F256B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px 
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  .btn1{
  width: 100px;
  height: 35px;
  background: linear-gradient(180deg, #B02A37 0%, #FF0019 100%);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
  }
  .btn2{
  width: 100px;
  height: 35px;
  background: linear-gradient(180deg, #6F256B 0%, #FF6E66 100%);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
  }
  
  /* edit member css start */
  
  
  
  
  /* user accese  css start */
  .divuser{
    display: flex;
  }
  
  .imguser{
  width: 30px;
  height: 30px;
  }
  .lou{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #6F256B;
  margin-left: 5px;
  margin-top: 3px;
  }
  .createbtn{
    text-align: center;
  }
  
  .total{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  }
  
  
  .nodata{
    width: auto;
    height: 350px;
    border: 1px solid #606060;
    border-radius: 5px;
    padding: 10px;
  }
  .nodatafound{
    text-align: center;
  
  }
  /* user accese  css start */
  
  /* modal css lock */
  
  .mheader{
    background: #6F256B;
    color: #ffffff;
  }
  .bgbody{
    background-color:  #3C3C3C;;
  }
  .widthmodal{
    max-width: 800px;
  }
  
  .subdiv{
    display: flex;
  }
  .subdivp{
    padding-right: 10px;
  }
  .subdivi{
    padding-right: 10px;
    margin-top: 3px;
    color: #198754;;
  }
  .boxpop{
  border: 0.5px solid #FFFFFF;
  border-radius: 10px;
  }
  .subdivpop{
    padding-right: 120px
  }
  .subdivpop1{
    padding-right: 42px
  }
  .subdivpop2{
    padding-right: 40px
  }
  .subdivpop3{
    padding-right: 13px
  }
  .subdivpop4{
    padding-right: 4px
  }
  .subdivpop5{
    padding-right: 45px
  }
  .subdivpop6{
    padding-right: 36px
  }
  
  
  .subdivlock{
    padding-right: 40px;
    margin-top: 3px;
    color: #198754;;
  }
  
  .labeltoggel{
    padding-left: 17px;
  }
  .labeltoggelCustom{
    padding-left: 6px;
  }
  
  @media (max-width:767px) {
    .labeltoggel{
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 20px
    }
    
  }
  .marb{
    
    margin-bottom: 110px;
  }
  
  .lasttgl{
    padding-left: 55px;
  }
  
  
  /* modal css lock */
  
  
  
  
  
  /* hitesh css start */